.flex-container {
    display: flex;
    flex-direction: row; }
  
.sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width: 320px;
    border-right: black 5px solid; }


#content-container {
    width: calc(100% - 320px);
    margin-left: 320px;
    padding: 0 120px; }
#content-container .wrapper {
    margin-left: 0;
    margin-right: 833px; }
#content-container .post {
    max-width: 740px;
    margin: 0 auto; }
#content-container .notification.post {
    border: none;
    margin: 30px 0;
    padding: 0px; }
  
.header-border {
    min-height: 8px;
    width: 100%;
    background-color: #ffb900;
    border-top: 8px solid #ff8c00;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    box-sizing: content-box; }

.header-top {
    display: block;
    overflow: auto;
    text-decoration: none;
    padding: 0; }

.logo {
float: left;
border-radius: 50%;

}
.face {
    border-radius: 50%;
    margin: 80px;
    max-width: 40%;
    }


image {
    background-color: transparent;
    -webkit-text-decoration-skip:100%;
}


.logo-title {
    min-width: 10px;
}
/* .logo-title {
    display: inline-block;
    margin-top: 55px;
    max-width: 50px;
    border-radius: 50%;
    max-width: ;
} */
* {
    box-sizing: inherit;
}

.words{
    border-radius: 8%;
    margin: 35px;
    max-width: 71%;

}

button {
font-kerning: normal;
text-rendering: optimizeLegibility;
font-family: 'Source Sans Pro', sans-serif;
font-size: 0.75em;
cursor: pointer; }


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
max-width: 100%; }

h1 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 900;
letter-spacing: -0.02em;
word-spacing: 0.05em;
line-height: 1.1em; }

h2 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 900;
letter-spacing: -0.02em;
word-spacing: 0.05em;
line-height: 1.1em;
font-size: 1.8em;
margin-top: 1em;
margin-bottom: 0em; }
h2 a:link {
text-decoration: none;
color: black; }
h2 a:visited {
text-decoration: none;
color: black; }
h2 a:hover {
text-decoration: underline;
color: black; }
h2 a:active {
text-decoration: underline;
color: black; }
h2 + .search-form {
margin-top: 1em; }
h2 + .subscribe-form {
margin-top: 1em; }

p {
font-family: 'PT Serif', serif;
font-size: 1.1em;
margin: 1.1em 0;
color: #2c3e50; }

body {
    height: 100%;
    font-family: 'PT Serif', serif;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    }

body {
    line-height: 1.55;
    }

h2 {
    font-size: 2.2em; }

@media (min-width: 769px) {
    .sidebar-content {
        display: block !important;
    }
    }

.sidebar-content {
    clear: both;
    padding: 30px; }

@media (min-width: 640px) {
.wrapper {
    max-width: 32em; }
body {
    line-height: 1.55;
    }
h2 {
    font-size: 2.2em; }
#menu-icon {
    right: 20px;
    bottom: 20px; }
.search-view .wrapper {
    max-width: 750px; } }

    .sidebar-widget {
        margin-bottom: 30px; }
        .sidebar-widget:first-of-type {
            margin-bottom: 20px; }
        .sidebar-widget .widgettitle {
            margin: 0;
            font-size: 16px;
            margin-bottom: 5px; }
        .sidebar-widget ul {
            list-style: none;
            padding: 0;
            margin-top: 0; }
        .sidebar-widget li {
            margin-bottom: 5px;
            line-height: 1; }
            .sidebar-widget li a {
            font-size: 15px;
            color: black;
            text-decoration: none;
            font-family: 'Source Sans Pro', sans-serif; }
            .sidebar-widget li a:hover {
                color: #003eff;
                text-decoration: underline; }
        
        .sidebar-widget.widget_text {
        margin-bottom: 30px; }
        
        #searchform label {
        display: none; }
        
        #searchform > div {
        border: 1px solid black;
        width: auto;
        border-radius: 5px; }
        
        input#s {
        border: none;
        background-color: transparent;
        height: 35px;
        width: 75%;
        max-width: calc(100% - 62px);
        padding: 5px;
        outline: none;
        font-size: 14px; }
        
        input#input-field {
        border: none;
        background-color: transparent;
        height: 35px;
        width: 75%;
        max-width: calc(100% - 62px);
        padding: 5px;
        outline: none;
        font-size: 14px;
        width: 85%; }
        
        #searchsubmit {
        background-color: black;
        border: none;
        border-radius: 0 0 3px;
        color: white;
        float: right;
        height: 35px;
        width: 25%;
        min-width: 62px;
        background-image: url("../img/search.svg");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: 25px; }
        
        button#searchsubmit {
        width: 15%; }
        
        #search-share {
        margin-top: 10px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px; }
        #search-share span {
            display: block;
            float: left;
            margin-top: -2px;
            margin-right: 5px; }
        #search-share svg {
            display: inline-block;
            height: 15px;
            width: 15px; }
        
        #subscribeform div.sidebar-sub-container {
        border: 1px solid #ffb900;
        width: auto;
        border-radius: 5px;
        overflow: visible;
        position: relative; }
        
        input#e {
        border: none;
        background-color: transparent;
        height: 35px;
        width: 75%;
        max-width: calc(100% - 62px);
        padding: 5px;
        outline: none;
        font-size: 14px;
        overflow: visible;
        display: inline-block; }
        
        input.feedblitz-email {
        border: none;
        background-color: transparent;
        height: 35px;
        width: 75%;
        max-width: calc(100% - 62px);
        padding: 5px;
        outline: none;
        font-size: 14px;
        overflow: visible;
        display: inline-block; }
        
        input.feedblitz-email-submit {
        background-color: #ffb900;
        border: none;
        border-radius: 0 0 3px;
        color: black;
        float: right;
        height: 35px;
        width: 25%;
        min-width: 62px;
        font-weight: bold;
        font-size: 14px; }
        
        input.subscribesubmit {
        background-color: #ffb900;
        border: none;
        border-radius: 0 0 3px;
        color: black;
        float: right;
        height: 35px;
        width: 25%;
        min-width: 62px;
        font-weight: bold;
        font-size: 14px; }
        
        .feedblitz-privacy-links {
        opacity: 0.7;
        float: right;
        margin-right: 25%; }
        
        a.feedblitz-terms-privacy {
        text-decoration: none;
        color: inherit; }
        
        input.feedblitz-email-error {
        color: black;
        border: 3px solid #ff8800; }
        
        #notifications-notice {