.flex-container {
    display: flex;
    flex-direction: row; }
  
.sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width: 320px;
    border-right: black 2px solid; }


#content-container {
    width: calc(100% - 320px);
    margin-left: 320px;
    padding: 0 120px; }
#content-container .wrapper {
    margin-left: 0;
    margin-right: 833px; }
#content-container .post {
    max-width: 740px;
    margin: 0 auto; }
#content-container .notification.post {
    border: none;
    margin: 30px 0;
    padding: 0px; }
  
.header-border {
    min-height: 8px;
    width: 100%;
    background-color: #ffb900;
    border-top: 8px solid #ff8c00;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    box-sizing: content-box; }

.header-top {
    display: block;
    overflow: auto;
    text-decoration: none;
    padding: 0; }

.logo {
float: left;
border-radius: 50%;

}
.face {
    border-radius: 50%;
    margin: 80px;
    max-width: 40%;
    }


image {
    background-color: transparent;
    -webkit-text-decoration-skip:100%;
}


.logo-title {
    min-width: 10px;
}
/* .logo-title {
    display: inline-block;
    margin-top: 55px;
    max-width: 50px;
    border-radius: 50%;
    max-width: ;
} */
* {
    box-sizing: inherit;
}

.words{
    border-radius: 8%;
    margin: 35px;
    max-width: 71%;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
max-width: 100%; }

h1 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 900;
letter-spacing: -0.02em;
word-spacing: 0.05em;
line-height: 1.1em; }

h2 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 900;
letter-spacing: -0.02em;
word-spacing: 0.05em;
line-height: 1.1em;
font-size: 1.8em;
margin-top: 1em;
margin-bottom: 0em; }
h2 a:link {
text-decoration: none;
color: black; }
h2 a:visited {
text-decoration: none;
color: black; }
h2 a:hover {
text-decoration: underline;
color: black; }
h2 a:active {
text-decoration: underline;
color: black; }
h2 + .search-form {
margin-top: 1em; }
h2 + .subscribe-form {
margin-top: 1em; }

p {
font-family: 'PT Serif', serif;
font-size: 1.1em;
margin: 1.1em 0;
color: #2c3e50; }

body {
    height: 100%;
    font-family: 'PT Serif', serif;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    }